{% extends 'template.html' %}

{% load static %}

{% block titulo %} Novo Usuário {% endblock %}

{% block conteudo %}

<div class="users d-flex flex-column align-items-center justify-content-center mt-2 mb-2">
    <img src="{% static 'assets/users.png' %}" alt="">
        <h1 id="h1Usuarios">Adicionar Usuário</h1>
    </div>


<div class="container d-flex align-items-center justify-content-center" >
    <form method="post" action="{% url 'addUsuario' %}" id="ContainerLogin">
        {% csrf_token %}
        <div class="form-group">
        {{form.as_p}}
        <input type="submit" value="Cadastrar" id="btnCadastrar">
        </div>
    </form>
</div>

{% endblock %}