{% extends "template.html" %}

{% block conteudo %}

<div class="bem-vindo">
    <h3>Olá <strong>{{cliente.nome}}</strong>!, Bem Vindo ao Checkout!🧸</h3>
    <p><strong>Email:</strong> {{ cliente.email }}</p>
</div>
<div class="container-checkout">

  <table class="table table-hover p-3 m-auto" style="width: 40%;">
        <tr id="trUsuarios">
            <th>Imagem</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
        </tr>
            <tr id="trProd">
                <td><img src="/media/{{ produto.imagemProduto }}"  alt=""  style="width: 100px; height: auto;"></td>
                <td>{{produto.nomeProduto}}</td>
                <td>{{produto.precoProduto}}</td>

            </tr>

            
    </table>
        <div class="form-checkout">
                    <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Finalizar Compra</button>
                </form>
        </div>

</div>
{% endblock %}
