{% extends 'template.html' %}

{% load static %}


{% block titulo %} Dashboard {% endblock %}

{% block conteudo %}

    <div class="containerDashboard">
    <h1>Bem-vindo(a)! {{email}} 🧸</h1>

    <div class="btn">
      <a href="{% url 'exibirUsuarios' %}"><button id="btnDashboard" class="btn "><i class="bi bi-people-fill"></i> Usuários</button></a>
      <a href="{% url 'listarProdutos' %}"><button id="btnDashboard" class="btn "><i class="bi bi-boxes"></i>Produtos</button></a><br>
      <a href="{% url 'compras' %}"><button id="btnDashboard" class="btn "><i class="bi bi-cart-check-fill"></i>Minhas compras</button></a>
      <a href="{% url 'grafico' %}"><button id="btnDashboard" class="btn " ><i class="bi bi-clipboard-data"></i>Gráfico do Estoque</button></a>
      <a href="{% url 'graficoVendas' %}"><button id="btnDashboard" class="btn " ><i class="bi bi-receipt-cutoff"></i>Gráfico de Vendas</button></a>
   </div>

      
   </div>
{% endblock %}