{% extends "template.html" %}

{% load static %}

{% block 'titulo' %} Editar Usuário {% endblock %}

{% block conteudo %}
<a href="{% url 'exibirUsuarios' %}"><button id="btnVoltar" class="btn ">Voltar</button></a>

<div class="container mt-5 d-flex align-items-center justify-content-center" id="ContainerLogin">
       <div class="col-md-6 d-none d-md-block text-center">
      <img src="{% static 'assets/ursinhos3.png' %}" alt="Ursinho fofo" class="img-fluid rounded login-imagem">
    </div>  
   <div class="card"  style="background-color: #f9ebc9ca; padding: 20px; border: none;">
     <div class="text-center">
          <img src="{% static 'assets/users.png' %}" alt="Ícone de login" width="60" class="mb-2">
          <h2 id="h1Usuarios" class="mb-4">Editar Usuário</h2>
        </div>
    <form method="POST" id="form-editar">
                {% csrf_token %}

        {% comment %} <div class="form-group"> {% endcomment %}

    {{ form.nome }}
    {{ form.email }}
    {{ form.senha }}
    {{ form.confirmar_senha }}

    <div class="row">
        <div class="col-md-6">
            {{ form.CEP }}
        </div>
        <div class="col-md-6">
            {{ form.logradouro }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form.bairro }}
        </div>
        <div class="col-md-6">
            {{ form.localidade }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form.estado }}
        </div>
        <div class="col-md-6">
            {{ form.numero_residencia }}
        </div>

        <input type="submit" value="Editar"  id="btnCadastrar">
    </form>
    </div>
</div>

<script>

    function buscaCep(cep){
        fetch('https://viacep.com.br/ws/'+ cep + '/json/')
        .then(response => {
            if(!response.ok){
                console.log("Erro de Conexão")
            }
        return response.json()
        } )
        .then(data => {
            console.log(data)
            logradouro.value = data.logradouro
            bairro.value = data.bairro
            localidade.value = data.localidade
            estado.value = data.estado

        })
        .catch(error => {
            console.log("Erro", error)
        })
    }

</script>



{% endblock %}