{% extends 'template.html' %}

{% load static %}


{% block titulo %} Produtos {% endblock %}

{% block conteudo %}
<a href="{% url 'dashboard' %}"><button id="btnVoltar" class="btn ">Voltar</button></a>
    <a href="{% url 'cadastrarProduto' %}" style="justify-content: center; display: flex; margin: 3em; text-decoration: none; text-align: center;"><button  id="btnEditar"> Cadastrar Produto </button> </a>
    <table class="table table-hover p-3 m-auto" style="width: 60%;">
        <tr id="trUsuarios">
            <th>Produto</th>
            <th>Imagem</th>
            <th>Categoria</th>
            <th colspan= "2">Ações</th>
        </tr>
        {% for produto in listProdutos %}
            <tr id="trProd">
                <td>{{produto.nomeProduto}}</td>
                <td><img src="/media/{{ produto.imagemProduto }}"  alt=""  style="width: 100px; height: auto;"></td>
                <td>
                {% if produto.categoria %}
                    {{ produto.categoria }}
                {% else %}
                    Sem categoria
                {% endif %}
                </td>

                <td><a href="{% url 'excluirProduto' produto.id %}"> <button  id="btnExcluir"> Excluir </button> </a></td>
               <td><a href="{% url 'editarProduto' produto.id %}"> <button id="btnEditar"> Editar</button> </a></td> 
              
            </tr>
        {% endfor %}
    </table>

{% endblock %}